a, a:visited, a:active {
  color: #444;
}

body {
    background-color: #e2e9eb;
}

.container {
  max-width: 1000px;
  margin: auto;
  overflow: auto;
}

.button {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}

.button.active {
  background: #000;
  color: #fff;
}


#vis {
  width: 100%;
  clear: both;
  margin-bottom: 10px;
}

#toolbar {
  margin-top: 10px;
}

.college, .funding {
  font-size: 21px;
  fill: #1e5288;
  cursor: default;
  text-align: center;
}

.amount, .collegeAmt, .fundingAmt{
  font-size: 22px;
  font-weight:bold;
  fill: #ab0520;;
  cursor: default;
  text-align: center;
}

.tooltip {
	position: absolute;
  text-align: center;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
  padding: 5px;
	padding-left: 20px;
  padding-right: 20px;
	font-size: 16px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
  color: #1e5288;
}

.tooltip .amount {
  font-weight:bold;
  font-size: 24px;
  color: #ab0520;
}

.footer {
  text-align: center;
  clear: both;
}
