.legendContainer {
	margin: auto;
	max-width: 1080px;
}

.legend {
	margin: auto;
	margin-bottom: 5px;
	display: inline-block;
}

.colorBox {
	float: left;
	width: 15px;
	height: 15px;
	margin-left: 10px;
	margin-right: 5px;
	border: 1px solid rgba(0, 0, 0, .2);
	display: inline;
	clear: none;
}

.dot {
	border: 1px dashed black;
    border-radius: 50%;
    text-align: center;
}

#bigDot {
	border: 2px solid black;
    border-radius: 50%;
    text-align: center;
}

.legendLabel {
	float: left;
	font-size: 15px;
	display: inline;
	clear: none;
}

.ua {
  background: #ab0520;
}

.graduate {
  background: #ef4056;
}

.faculty {
  background: #1e5288;
}

.director {
  background: #13b2cb;
}

.innovation {
  background: #879295;
}